{% extends "@App/Default/base.html.twig" %}

{% block additionalcss %}
    <link href="/build/global.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div id="content" class="site-content">
        <div class="container">
            <div class="row">
                <div id="about-image" class="col-sm-12">
                    <div class="single-image-wrapper">
                        <div class="placeholder"><h1>ABOUT</h1></div>
                    </div>

                    <div id="about">
                        <p>Square Up Media is one of London’s leading luxury and lifestyle media houses. With nearly 15 years’ experience creating captivating content, we are experts at communicating and engaging with our audiences via award-winning magazines, websites, newsletters and events. We believe in making products that are as exciting as they are interesting – and, best of all, offering them to our readers for free.</p>
                        <p>For more information, visit our website - <a href="//squareupmedia.com/" target="_blank">squareupmedia.com</a>.</p>
                    </div>

                </div>
            </div>

            <div class="row" id="bottom">
                <div class="col-sm-1">
                    <div class="single_image-wrapper">
                        <img width="" height="130" src="{{ asset('images/ipad-mag.png') }}" alt="escapism ipad" class="alignleft"/>
                    </div>
                </div>
                <div class="col-sm-11">
                    <h1>THE IPAD</h1>
                    <p>Every issue of Escapism is also available in an interactive iPad edition, with even more photography, animated articles, and a range of tools and features that bring the reader even closer to amazing locations throughout the world. Download the iPad edition here.</p>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- #content -->
{% endblock %}