<header id="masthead" class="site-header">
    <div class="container">
        <div class="adbanner">
            <img class="aligncenter" width="728" height="90" src='/images/adbanner.png' alt="leaderboard" />
        </div>
        <div class="site-branding">
            <a href="/" rel="home"><h1 class="site-title">Square Up Media</h1></a>
            <p class="site-description"></p>
            <div class="nav-holder">
                <a id="menu" href="#menu">Menu</a>
            </div>
        </div><!-- .site-branding -->

        <div id="site-navigation" class="main-navigation">
            <nav class="blog-nav">
                <li><a class="blog-nav-item" href="/about">About</a></li>
                <li><a class="blog-nav-item" href="/contact">Contact</a></li>
                <li><a class="blog-nav-item" href="/brands">Brands</a></li>
            </nav>
        </div><!-- #site-navigation -->
    </div>
</header><!-- #masthead -->